docs/build/
.ipynb_checkpoints
.venv/
.venv-1/
__pycache__
ignored_dir
main_notebook.ipynb
dataset
dataset/*
trained_models
trained_models/*
.idea
data_corrector.py
leaderboard/owner.conf
confusion_matrix.png
debugging.csv
labelling_review_flagged.csv
ML_Classification_Output_Example.csv